.caption {
  margin: 0;
  color: rgb(1, 1, 1);
  font-family: $main-font;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.72px;
  text-align: center;
}

@include media-min($tablet-width) {
  .caption {
    font-size: 14px;
    line-height: 14px;
  }
}

@include media-min($desktop-width) {
  .caption {
    font-size: 19px;
    line-height: 19px;
  }
}
