.faq {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 20px;
    right: 0;
    bottom: 20px;
    left: 0;
    background-color: rgb(250, 250, 250);
    transform: skewY(-10deg);
  }
  &__wrapper {
    @include container;
    padding: 46px 15px 47px;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
    }
    &::after {
      @include horizontal-center;
      content: "";
      top: 40px;
    }
    &--first {
      padding-top: 240px;
      &::before {
        width: 151px;
        height: 87px;
        background: url("/img/icon-01.svg") no-repeat center;
        background-size: cover;
      }
      &::after {
        width: 220px;
        height: 180px;
        background: url("/img/benefit-first.svg") no-repeat center;
        background-size: cover;
      }
    }
    &--second {
      padding-top: 215px;
      &::before {
        width: 170px;
        height: 87px;
        right: 0;
        background: url("/img/icon-02.svg") no-repeat center;
        background-size: cover;
      }
      &::after {
        width: 187px;
        height: 150px;
        background: url("/img/benefit-second.svg") no-repeat center;
        background-size: cover;
      }
    }
    &--third {
      padding-top: 275px;
      &::before {
        width: 171px;
        height: 87px;
        background: url("/img/icon-03.svg") no-repeat center;
        background-size: cover;
      }
      &::after {
        width: 243px;
        height: 210px;
        background: url("/img/benefit-third.svg") no-repeat center;
        background-size: cover;
      }
    }
    &:not(:last-of-type) {
      margin-bottom: 36px;
    }
  }
  &__title {
    margin-bottom: 36px;
  }
  &__subtitle {
    margin-bottom: 20px;
  }
}

@include media-min($tablet-width) {
  .faq {
    &::before {
      top: 30px;
      bottom: 30px;
      transform: skewY(-5deg);
    }
    &__wrapper {
      padding: 75px 80px;
    }
    &__item {
      &--first {
        &::before {
          left: 174px;
        }
      }
      &--second {
        &::before {
          right: 180px;
        }
      }
      &--third {
        &::before {
          left: 170px;
        }
      }
    }
  }
}

@include media-min($desktop-width) {
  .faq {
    overflow: hidden;
    &::before {
      z-index: -1;
      top: 30px;
      bottom: 30px;
      left: -120px;
      transform: skewY(-31deg) scale(1.6);
    }
    &__wrapper {
      padding: 132px 15px 160px;
    }
    &__title {
      margin-bottom: 62px;
    }
    &__list {
      display: flex;
    }
    &__item {
      flex-grow: 1;
      flex-basis: 25%;
      padding-top: 260px;
      &:not(:last-of-type) {
        margin: 0 25px 0 0;
      }
      &::before {
        z-index: -1;
        top: -135px;
        left: 0;
      }
      &--first {
        &::before {
          width: 230px;
          height: 135px;
        }
        &::after {
          top: 25px;
        }
      }
      &--second {
        &::before {
          width: 259px;
          height: 135px;
        }
        &::after {
          top: 30px;
        }
      }
      &--third {
        &::before {
          width: 261px;
          height: 135px;
        }
        &::after {
          top: 0;
        }
      }
    }
    &__subtitle {
      margin-bottom: 35px;
    }
  }
}
