.generator {
  .st0 {
    fill: #CCCCCC;
  }
  .st1 {
    opacity: 0;
    fill: #FFFFFF;
  }
  .st2 {
    filter: url(#Adobe_OpacityMaskFilter);
  }
  .st3 {
    filter: url(#Adobe_OpacityMaskFilter_1_);
  }
  .st4 {
    mask: url(#SVGID_1_);
    fill: url(#SVGID_2_);
  }
  .st5 {
    opacity: 6.250000e-02;
    fill: url(#SVGID_3_);
  }
  .st6 {
    filter: url(#Adobe_OpacityMaskFilter_2_);
  }
  .st7 {
    filter: url(#Adobe_OpacityMaskFilter_3_);
  }
  .st8 {
    mask: url(#SVGID_4_);
    fill: url(#SVGID_5_);
  }
  .st9 {
    opacity: 0.125;
    fill: url(#SVGID_6_);
  }
  .st10 {
    filter: url(#Adobe_OpacityMaskFilter_4_);
  }
  .st11 {
    filter: url(#Adobe_OpacityMaskFilter_5_);
  }
  .st12 {
    mask: url(#SVGID_7_);
    fill: url(#SVGID_8_);
  }
  .st13 {
    opacity: 0.1875;
    fill: url(#SVGID_9_);
  }
  .st14 {
    filter: url(#Adobe_OpacityMaskFilter_6_);
  }
  .st15 {
    filter: url(#Adobe_OpacityMaskFilter_7_);
  }
  .st16 {
    mask: url(#SVGID_10_);
    fill: url(#SVGID_11_);
  }
  .st17 {
    opacity: 0.25;
    fill: url(#SVGID_12_);
  }
  .st18 {
    filter: url(#Adobe_OpacityMaskFilter_8_);
  }
  .st19 {
    filter: url(#Adobe_OpacityMaskFilter_9_);
  }
  .st20 {
    mask: url(#SVGID_13_);
    fill: url(#SVGID_14_);
  }
  .st21 {
    opacity: 0.3125;
    fill: url(#SVGID_15_);
  }
  .st22 {
    filter: url(#Adobe_OpacityMaskFilter_10_);
  }
  .st23 {
    filter: url(#Adobe_OpacityMaskFilter_11_);
  }
  .st24 {
    mask: url(#SVGID_16_);
    fill: url(#SVGID_17_);
  }
  .st25 {
    opacity: 0.375;
    fill: url(#SVGID_18_);
  }
  .st26 {
    filter: url(#Adobe_OpacityMaskFilter_12_);
  }
  .st27 {
    filter: url(#Adobe_OpacityMaskFilter_13_);
  }
  .st28 {
    mask: url(#SVGID_19_);
    fill: url(#SVGID_20_);
  }
  .st29 {
    opacity: 0.4375;
    fill: url(#SVGID_21_);
  }
  .st30 {
    filter: url(#Adobe_OpacityMaskFilter_14_);
  }
  .st31 {
    filter: url(#Adobe_OpacityMaskFilter_15_);
  }
  .st32 {
    mask: url(#SVGID_22_);
    fill: url(#SVGID_23_);
  }
  .st33 {
    opacity: 0.5;
    fill: url(#SVGID_24_);
  }
  .st34 {
    filter: url(#Adobe_OpacityMaskFilter_16_);
  }
  .st35 {
    filter: url(#Adobe_OpacityMaskFilter_17_);
  }
  .st36 {
    mask: url(#SVGID_25_);
    fill: url(#SVGID_26_);
  }
  .st37 {
    opacity: 0.5625;
    fill: url(#SVGID_27_);
  }
  .st38 {
    filter: url(#Adobe_OpacityMaskFilter_18_);
  }
  .st39 {
    filter: url(#Adobe_OpacityMaskFilter_19_);
  }
  .st40 {
    mask: url(#SVGID_28_);
    fill: url(#SVGID_29_);
  }
  .st41 {
    opacity: 0.625;
    fill: url(#SVGID_30_);
  }
  .st42 {
    filter: url(#Adobe_OpacityMaskFilter_20_);
  }
  .st43 {
    filter: url(#Adobe_OpacityMaskFilter_21_);
  }
  .st44 {
    mask: url(#SVGID_31_);
    fill: url(#SVGID_32_);
  }
  .st45 {
    opacity: 0.6875;
    fill: url(#SVGID_33_);
  }
  .st46 {
    filter: url(#Adobe_OpacityMaskFilter_22_);
  }
  .st47 {
    filter: url(#Adobe_OpacityMaskFilter_23_);
  }
  .st48 {
    mask: url(#SVGID_34_);
    fill: url(#SVGID_35_);
  }
  .st49 {
    opacity: 0.75;
    fill: url(#SVGID_36_);
  }
  .st50 {
    filter: url(#Adobe_OpacityMaskFilter_24_);
  }
  .st51 {
    filter: url(#Adobe_OpacityMaskFilter_25_);
  }
  .st52 {
    mask: url(#SVGID_37_);
    fill: url(#SVGID_38_);
  }
  .st53 {
    opacity: 0.8125;
    fill: url(#SVGID_39_);
  }
  .st54 {
    filter: url(#Adobe_OpacityMaskFilter_26_);
  }
  .st55 {
    filter: url(#Adobe_OpacityMaskFilter_27_);
  }
  .st56 {
    mask: url(#SVGID_40_);
    fill: url(#SVGID_41_);
  }
  .st57 {
    opacity: 0.875;
    fill: url(#SVGID_42_);
  }
  .st58 {
    filter: url(#Adobe_OpacityMaskFilter_28_);
  }
  .st59 {
    filter: url(#Adobe_OpacityMaskFilter_29_);
  }
  .st60 {
    mask: url(#SVGID_43_);
    fill: url(#SVGID_44_);
  }
  .st61 {
    opacity: 0.9375;
    fill: url(#SVGID_45_);
  }
  .st62 {
    filter: url(#Adobe_OpacityMaskFilter_30_);
  }
  .st63 {
    filter: url(#Adobe_OpacityMaskFilter_31_);
  }
  .st64 {
    mask: url(#SVGID_46_);
    fill: url(#SVGID_47_);
  }
  .st65 {
    fill: url(#SVGID_48_);
  }
  .st66 {
    fill: url(#SVGID_49_);
  }
  .st67 {
    fill: url(#SVGID_50_);
  }
  .st68 {
    fill: url(#SVGID_51_);
  }
  .st69 {
    fill: #00FFFF;
  }
  .st70 {
    filter: url(#Adobe_OpacityMaskFilter_32_);
  }
  .st71 {
    filter: url(#Adobe_OpacityMaskFilter_33_);
  }
  .st72 {
    mask: url(#SVGID_52_);
    fill: url(#SVGID_53_);
  }
  .st73 {
    fill: url(#SVGID_54_);
  }
  .st74 {
    filter: url(#Adobe_OpacityMaskFilter_34_);
  }
  .st75 {
    filter: url(#Adobe_OpacityMaskFilter_35_);
  }
  .st76 {
    mask: url(#SVGID_55_);
    fill: url(#SVGID_56_);
  }
  .st77 {
    fill: url(#SVGID_57_);
  }
  .st78 {
    filter: url(#Adobe_OpacityMaskFilter_36_);
  }
  .st79 {
    filter: url(#Adobe_OpacityMaskFilter_37_);
  }
  .st80 {
    mask: url(#SVGID_58_);
    fill: url(#SVGID_59_);
  }
  .st81 {
    fill: url(#SVGID_60_);
  }
  .st82 {
    filter: url(#Adobe_OpacityMaskFilter_38_);
  }
  .st83 {
    filter: url(#Adobe_OpacityMaskFilter_39_);
  }
  .st84 {
    mask: url(#SVGID_61_);
    fill: url(#SVGID_62_);
  }
  .st85 {
    fill: url(#SVGID_63_);
  }
  .st86 {
    fill: none;
    stroke: #0071BC;
    stroke-width: 0.693;
    stroke-miterlimit: 10;
  }
  .st87 {
    filter: url(#Adobe_OpacityMaskFilter_40_);
  }
  .st88 {
    filter: url(#Adobe_OpacityMaskFilter_41_);
  }
  .st89 {
    mask: url(#SVGID_64_);
    fill: url(#SVGID_65_);
  }
  .st90 {
    fill: url(#SVGID_66_);
  }
  .st91 {
    fill: url(#SVGID_67_);
  }
  .st92 {
    fill: url(#SVGID_68_);
  }
  .st93 {
    fill: #29ABE2;
  }
  .st94 {
    opacity: 0;
    fill: #29ABE2;
  }
  .st95 {
    opacity: 6.250000e-02;
    fill: #29ABE2;
  }
  .st96 {
    opacity: 0.125;
    fill: #29ABE2;
  }
  .st97 {
    opacity: 0.1875;
    fill: #29ABE2;
  }
  .st98 {
    opacity: 0.25;
    fill: #29ABE2;
  }
  .st99 {
    opacity: 0.3125;
    fill: #29ABE2;
  }
  .st100 {
    opacity: 0.375;
    fill: #29ABE2;
  }
  .st101 {
    opacity: 0.4375;
    fill: #29ABE2;
  }
  .st102 {
    opacity: 0.5;
    fill: #29ABE2;
  }
  .st103 {
    opacity: 0.5625;
    fill: #29ABE2;
  }
  .st104 {
    opacity: 0.625;
    fill: #29ABE2;
  }
  .st105 {
    opacity: 0.6875;
    fill: #29ABE2;
  }
  .st106 {
    opacity: 0.75;
    fill: #29ABE2;
  }
  .st107 {
    opacity: 0.8125;
    fill: #29ABE2;
  }
  .st108 {
    opacity: 0.875;
    fill: #29ABE2;
  }
  .st109 {
    opacity: 0.9375;
    fill: #29ABE2;
  }
  .st110 {
    fill: url(#SVGID_69_);
  }
  .st111 {
    fill: url(#SVGID_70_);
  }
  .st112 {
    fill: url(#SVGID_71_);
  }
  .st113 {
    fill: url(#SVGID_72_);
  }
  .st114 {
    fill: url(#SVGID_73_);
  }
  .st115 {
    fill: url(#SVGID_74_);
  }
  .st116 {
    fill: url(#SVGID_75_);
  }
  .st117 {
    filter: url(#Adobe_OpacityMaskFilter_42_);
  }
  .st118 {
    filter: url(#Adobe_OpacityMaskFilter_43_);
  }
  .st119 {
    mask: url(#SVGID_76_);
    fill: url(#SVGID_77_);
  }
  .st120 {
    fill: url(#SVGID_78_);
  }
  .st121 {
    fill: url(#SVGID_79_);
  }
  .st122 {
    fill: url(#SVGID_80_);
  }
  .st123 {
    fill: url(#SVGID_81_);
  }
  .st124 {
    fill: url(#SVGID_82_);
  }
  .st125 {
    fill: url(#SVGID_83_);
  }
  .st126 {
    fill: url(#SVGID_84_);
  }
  .st127 {
    fill: url(#SVGID_85_);
  }
  .st128 {
    filter: url(#Adobe_OpacityMaskFilter_44_);
  }
  .st129 {
    filter: url(#Adobe_OpacityMaskFilter_45_);
  }
  .st130 {
    mask: url(#SVGID_86_);
    fill: url(#SVGID_87_);
  }
  .st131 {
    fill: url(#SVGID_88_);
  }
  .st132 {
    fill: url(#SVGID_89_);
  }
  .st133 {
    fill: url(#SVGID_90_);
  }
  .st134 {
    fill: url(#SVGID_91_);
  }
  .st135 {
    fill: url(#SVGID_92_);
  }
  .st136 {
    fill: url(#SVGID_93_);
  }
  .st137 {
    fill: url(#SVGID_94_);
  }
  .st138 {
    fill: url(#SVGID_95_);
  }
  .st139 {
    fill: url(#SVGID_96_);
  }
  .st140 {
    fill: url(#SVGID_97_);
  }
  .st141 {
    fill: url(#SVGID_98_);
  }
  .st142 {
    fill: url(#SVGID_99_);
  }
}
