.mission {
  &__wrapper {
    @include container;
    padding: 50px 15px 20px;
  }
  &__caption {
    margin: 0 0 10px;
    text-align: left;
  }
  &__title {
    margin-bottom: 18px;
    text-align: left;
  }
  &__text {
    margin-bottom: 27px;
  }
}

@include media-min($tablet-width) {
  .mission {
    &__wrapper {
      padding: 50px 80px 20px;
    }
    &__caption {
      margin-bottom: 13px;
    }
    &__title {
      margin-bottom: 17px;
    }
    &__text {
      margin-bottom: 26px;
    }
  }
}
