.mission {
  &__wrapper {
    @include container;
    padding: 50px 15px 20px;
  }
  &__caption {
    margin: 0 0 10px;
    text-align: left;
  }
  &__title {
    margin-bottom: 18px;
    text-align: left;
  }
  &__text {
    margin-bottom: 27px;
  }
  &__btn {
    margin-bottom: 50px;
  }
  &__img {
    display: none;
  }
}

@include media-min($tablet-width) {
  .mission {
    &__wrapper {
      padding: 50px 80px 20px;
    }
    &__caption {
      margin-bottom: 13px;
    }
    &__title {
      margin-bottom: 17px;
    }
    &__text {
      margin-bottom: 26px;
    }
  }
}

@include media-min($desktop-width) {
  .mission {
    position: relative;
    z-index: 1;
    &__wrapper {
      position: relative;
      display: flex;
      padding: 65px 210px 145px 15px;
      &::before,
      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        background-size: cover;
        width: 1884px;
        height: 1112px;
      }
      &::before {
        top: -223px;
        left: -1950px;
        background: url("/img/rect-shape.png") no-repeat center;
      }
      &::after {
        top: -400px;
        right: -1800px;
        background: url("/img/rect-shape.png") no-repeat center;
      }
    }
    &__container {
      flex-grow: 1;
      margin-right: 30px;
    }
    &__calc {
      flex: 0 0 360px;
    }
    &__caption {
      margin-bottom: 10px;
    }
    &__title {
      margin-bottom: 29px;
    }
    &__text {
      margin-bottom: 42px;
    }
    &__btn {
      margin-bottom: 0;
    }
    &__img {
      position: absolute;
      top: -35px;
      right: -340px;
      display: block;
      width: 300px;
      height: 248px;
      .hole7 {
        transform: scaleY(0.2);
        transform-origin: 0 123px;
      }
      &.animate--active {
        .hole7 {
          animation-name: flame;
          animation-duration: 3s;
          animation-timing-function: linear;
          animation-iteration-count: 1;
          animation-direction: normal;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}
