.support {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 20px;
    right: 0;
    bottom: 20px;
    left: 0;
    background-color: rgb(250, 250, 250);
    transform: skewY(10deg);
  }
  &__wrapper {
    @include container;
    position: relative;
    padding: 76px 15px 80px;
  }
  &__img {
    @include horizontal-center;
    content: "";
    bottom: 155px;
    width: 261px;
    height: 166px;
    &.animate--active {
      .turbine43,
      .turbine1 {
        opacity: 0;
        animation-name: electricity;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
      }
    }
  }
  &__title {
    margin-bottom: 18px;
  }
  &__text {
    margin-bottom: 210px;
  }
}

@include media-min($tablet-width) {
  .support {
    &::before {
      top: 30px;
      bottom: 30px;
      transform: skewY(5deg);
    }
    &__wrapper {
      padding: 75px 80px;
    }
    &__img {
      bottom: 165px;
      width: 398px;
      height: 266px;
    }
    &__title {
      text-align: left;
    }
    &__text {
      margin-bottom: 332px;
    }
    &__btn {
      margin: 0 auto;
    }
  }
}

@include media-min($desktop-width) {
  .support {
    overflow: hidden;
    &::before {
      display: none;
    }
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url(/img/support-bg.jpg) no-repeat 50%;
      background-size: cover;
    }
    &__wrapper {
      padding: 135px 425px 223px 15px;
    }
    &__img {
      top: 85px;
      right: -130px;
      left: initial;
      width: 651px;
      height: 427px;
      transform: translate(0, 0) rotate(24deg);
    }
    &__title {
      margin-bottom: 30px;
    }
    &__text {
      margin-bottom: 45px;
      padding-right: 200px;
    }
    &__btn {
      margin: 0;
    }
  }
}
