.team {
  &__wrapper {
    @include container;
    padding: 16px 15px 17px;
  }
  &__title {
    margin-bottom: 36px;
  }
  &__slide {
    width: 220px;
    margin: 0 auto;
  }
  &__face {
    position: relative;
    width: 220px;
    margin: 0 auto 22px;
    text-align: center;
    box-sizing: border-box;
    img {
      width: 220px;
      height: 220px;
    }
  }
  &__social {
    position: absolute;
    bottom: 30px;
    left: 115px;
    display: flex;
  }
  &__control {
    top: initial;
    bottom: 19px;
  }
}

@include media-min($tablet-width) {
  .team {
    &__wrapper {
      padding: 15px 80px;
    }
    &__subtitle {
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 18px;
    }
  }
}
