.text {
  margin: 0;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  &--color-white {
    color: rgb(255, 255, 255);
  }
  &--font-small {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.72px;
  }
}

@include media-min($tablet-width) {
  .text {
    font-size: 19px;
    line-height: 27px;
  }
}

@include media-min($tablet-width) {
  .text {
    font-size: 20px;
    line-height: 30px;
  }
}
