@keyframes flame {
  0% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes electricity {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.6;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0.6;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
